/* In View
############################################################################ */

[data-js-observe]{
  transition: all var(--tr-fast) ease-in-out;
  opacity: 0.3;
  transform: scale(0.98);
}


[data-js-observe="in-view"]{
  transform: scale(1);
  opacity: 1;
}