/* stylelint-disable no-descending-specificity */

/* Page Layout
############################################################################ */

body > * {
  max-width: var(--max-width-content);
  margin-left: auto;
  margin-right: auto;
}
