<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Webentwicklung - Ein Blick hinter die Kulissen</title>

  <link rel="stylesheet" href="/assets/styles/global/reset.css">
  <link rel="stylesheet" href="/assets/styles/global/fonts.css">
  <link rel="stylesheet" href="/assets/styles/global/icons.css">
  <link rel="stylesheet" href="/assets/styles/global/variables.css">
  <link rel="stylesheet" href="/assets/styles/global/base.css">

  <link rel="stylesheet" href="/assets/styles/composition.css">

  <link rel="stylesheet" href="/assets/styles/components/header.css">
  <link rel="stylesheet" href="/assets/styles/add-ons/eyecandy.css">

  <link rel="icon" type="image/x-icon" href="/assets/icons/favicons/favicon.ico">
</head>

<header>
  <ul>


    <li><a href="/">Webentwicklung - Ein Blick hinter die Kulissen</a></li>

    <li><a href="/seperate-layout-and-style.html">Die Vorzüge der Trennung von Style und Layout in CSS</a></li>

  </ul>

</header>

<body>
  <main>
    {{content}}
  </main>
</body>

</html>